h1 {
  max-width: 100%;

}

h2, h3 {
  color: #A26769;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  text-align: center;
  font-size: 68px;
  margin-top: 30px;
}


body {
  background-image: url(/images/abstract-organic-geometric-shapes-background\ copy.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  max-width: 100%;
}

.btn:hover {
  background-color: #FFF4F6;
  color: #7f525a;
}

.navbar {
  overflow: hidden;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  position: absolute;
}

.btn {
  background-color: #FED6DC;
  border-radius: 5px;
  padding: 12px 20px;
  border: 0px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  color: #7f525a;
  transition: background-color 1s;
}


#projects {
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 5px 5px rgb(0 0 0 / 10%);
  margin-top: 30px;
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  
}

#projectimg, #weatherdesc {
  display: block;
  padding-top: 40px;
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 30px;
  text-align: center;
}

#weatherdesc {
  padding: 100px;
}

#tools {
  display: grid;
  padding: 20px;
  width: 60%;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 5px 5px rgb(0 0 0 / 10%);
  font-family: "Montserrat", sans-serif;
}

.skill-icon {
    width:  100px;
    height: 100px;
    filter: grayscale(100%);
}

.skill-icon:hover {
  filter: none;
}


@media (max-width:500px) {
.skill-icon {
        max-width: 100%;
        max-height: 70%;
    }

  div#tools.container {
    margin: 0 auto;
    max-width: 100%;
  }
  #tools {
    width: 90%;
  }
}

