h1 {
    color: #6D2E46;
font-family: 'Playfair Display', serif;
font-size: 70px;
font-weight: 600;
text-align: center;
}
body {
    background-color: #A26769;
}

.mx-auto {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-bottom: 50px;

}

.navbar {
    
}