* {
  box-sizing: border-box;
}

h2,
h3,
h4,
h5,
h6 {
  color: #6d2e46;
  font-family: "Playfair Display", serif;
  font-weight: 600;
  text-align: center;
}

div {
  display: block;
}

body {
  background-image: url(https://img.freepik.com/free-vector/flat-geometric-background_23-2148967370.jpg?w=2000&t=st=1671832266~exp=1671832866~hmac=9aa4d3a1f38ed6ce8996133b4face8291966d72f0ac3eb157d61dac04e4a9c8e);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 72%;
}

footer img {
  width: 40px;
}

footer {
  padding: 90px;
  text-align: center;
}



.mx-auto {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  margin-bottom: 50px;
}

.socials {
  display: block;
  padding: 30px;
}

.container {
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
 
}
.col-lg-6 #selfie{
  width: 50%;
  margin: 0 auto;
}
.socials a {
  margin: 20px
}

#selfie {
  height: auto;
  border-radius: 50px;
  display: block;
  margin: 0 auto;
}

h1, p {
   width: 50%; 
}